---
layout: lbrn-seminar
title: LSU Computational Biology Seminar Series
headerImage: images/comp-bio-event.jpg
eventDate: multiple events, see below for each speaker.</a>
eventLocation: <a target="_blank" href="https://goo.gl/maps/a8aeZViC6un">LSU Digital Media Center</a>
eventAddress: <a target="_blank" href="https://goo.gl/maps/a8aeZViC6un">340 E Parker Blvd, Baton Rouge, LA 70803</a>
---
<aside id="lbrnEventSidebar">
  <ul id="lbrnEventSidebarUl">
    <li class="active"><a href="#eventSummary">About</a></li>
    <li><a href="#eventWhenAndWhere">When and Where</a></li>
    <li><a href="#eventParticipants">Current Speakers</a></li>
    
  </ul>
</aside>
<p>Sponsored by the <a href="http://science.lsu.edu/">LSU College of Science</a>, the <a href="http://www.biology.lsu.edu">Department of Biological
Sciences</a>, the <a href="http://cct.lsu.edu/">Center for Computation & Technology</a> and the <a href="http://lbrn.lsu.edu">Louisiana Biomedical Research Network</a></p>

<div id="matchHeight">
  <section id="eventSummary">
    <i class="collapseTrigger fa fa-2x fa-chevron-right" aria-hidden="true"></i>
    <h2 class="event-section-head">About</h2>
    <div class="collapse">
      <p>The primary goal for the seminar series is to increase student awareness of the importance of computational approaches to modern biological research. Traditional biology majors may receive no exposure to computational techniques, yet such skills are fast becoming de facto requirements for many careers in the life sciences. Conversely, majors in computational disciplines may receive little or no exposure to modern biological research that would make them aware of the pressing biological problems to which their skills could be applied.</p>
      <br>
      <p>We hope that this seminar series...</p>
      <ul>
        <li>Encourages students to take classes, do research, and seek out resources that allow them to cross the boundaries between biology and computation</li>
        <li>Raises awareness of the computational biology research being done at LSU and around Louisiana</li>
        <li>Encourages biology students to consider careers that leverage computational methods</li>
        <li>Encourages students in computational disciplines to consider careers in biological research.</li>
      </ul>
      <h3>LSU Computational Biology Seminar Media: <a href="https://www.youtube.com/playlist?list=PLV8dyTG7O7VaAdUsW791_yOxE51aFHCmY">  Seminar Videos</a></h3>
  </section>

  <section id="eventWhenAndWhere">
    <i class="collapseTrigger fa fa-2x fa-chevron-right" aria-hidden="true"></i>
    <h2 class="event-section-head">When &amp; Where</h2>
    <div class="collapse">
      <h3>Location</h3>
      <section>
     <p> Talks are being held at the LSU Digital Media Center, at the Center for Computation and Technology
      <a target="_blank" href="https://goo.gl/maps/a8aeZViC6un">LSU Digital Media Center</a></p>
      <h3>Address:</h3>
      <a target="_blank" href="https://goo.gl/maps/MM7z3du7qME2">
          <p><i class="map-icon fa fa-5x fa-fw fa-map-marker" aria-hidden="true"></i>
          <h4 class="map-address"><a target="_blank" href="https://goo.gl/maps/a8aeZViC6un">340 E Parker Blvd, Baton Rouge, LA 70803</a></h4></p>
        </a>
      </section>
    </div>
  </section>
  
   <section id="eventParticipants">
    <i class="collapseTrigger fa fa-2x fa-chevron-right" aria-hidden="true"></i>
    <h2 class="event-section-head">Current Seminar Series Speakers</h2>
    <div class="collapse">
      <article id="speakers">
       {% include CBSS-2019.html %}
      </article>
    </div>
  </section>
<!--
     <section id="eventPastParticipants">
    <i class="collapseTrigger fa fa-2x fa-chevron-right" aria-hidden="true"></i>
    <h2 class="event-section-head">Past Seminar Series Speakers</h2>
    <div class="collapse">
      <article id="speakers">
       {% include CBSS-2018.html %}
      </article>
    </div>
  </section>
-->

</div>
