---
layout: default
title: cvs to yml converter page
---
<p>
  convert
</p>

<div class="">

  <p>    name: Sanjay Batra</p>
  <p>    active: false</p>
  <p>    origin: Southern University and A&amp;M College, Department of Environmental Toxicology</p>
  <p>    image: batra.jpg</p>
  <p>    project_title: HDACs regulate inflammatory responses against microbial toxins & CSE exposure</p>
  <p>funding:  </p>
  <p> -  </p>
  <p>    name: Startup Project</p>
  <p>    period: May 1, 2015 – April 30, 2017</p>
  <p>    abstract: |</p>
  <p>
    Chronic obstructive pulmonary disease (COPD) is a progressive lung disease characterized by airflow limitation. It is predicted to become the third leading cause of death in the U.S. by 2020. The advancement of this disease is not fully
    reversible. Among others, exposure to cigarette smoke (CS) leads to abnormal inflammatory responses in the lungs. Second-hand cigarette smoke (SHS) exposure is considered to be a risk factor associated with increased carriage of respiratory
    pathogens and frequent airway infections. Generally, such association is ascribed to immunomodulatory and irritant effects of the components of CS (in human cells). The toxic response can be individual or in combination with other agents,
    including among others bacteria. Epidemiological evidence has shown that nontypeable-Haemophilus influenzae, Staphylococcus aureus, Streptococcus pneumoniae, Moraxella catarrhalis, and Pseudomonas aeruginosa are the most common forms of bacteria
    that colonize in the COPD airway. These agents and other inhaled particles are effectively eliminated by alveolar macrophages and airway and lung epithelial cells which sense them. Interestingly, secondhand smoke exposure activates these cells
    to produce pro-inflammatory mediators, reactive oxygen species and proteolytic enzymes, thereby providing a cellular mechanism that links smoking with inflammation and tissue damage. During COPD these cells are exposed either frequent or
    prolonged periods of time to a host of inflammatory mediators and effector molecules from inflammatory cells. Impairments in innate lung responses in patients with COPD mediate exacerbations by enabling bacteria to proliferate and persist in the
    airways. Persistence of bacteria leads to chronic airway inflammation, which is enhanced during invasion by incoming bacterial pathogens. Therefore, development of novel therapeutic approaches that lead to rapid and successful elimination of
    pathogenic bacteria from COPD airways, and reduce the mortality rate of COPD (high) are urgently needed.
  </p>
  <p>
    In view of the paucity of knowledge about differences in inflammatory response between Gram-negative and Gram-positive organisms during COPD, the focus of the present proposal is to determine the effect of microbial toxins from both
    Gram-negative and Gram-positive organisms in presence of cigarette smoke extract (CSE) using human monocyte derived macrophages (MDMs) and murine airway epithelial (LA-4) cells. The NF-кB comprises a family of transcription factors that are
    involved in regulating a large number of genes related to immune function, inflammation, apoptosis and cell proliferation. Many chronic disease states have been associated with aberrant activation of NF-кB and several therapeutic strategies
    target NF-кB activation have been considered for the treatment of inflammation and cancer. Histone deacetylases (HDACs) play a key role in the activation of transcription factors like NF-кB. Among others, HDAC1, HDAC2, and HDAC3 interact
    directly with NF-кB; however, their precise role remains controversial. Reports suggest acetylation of NF- кB/p65 either suppresses or activates its transcription depending on the biological context of the cell. Studies are designed to
    understand the differences in immune responses between microbial toxins from Gram- negative and Gram-positive organisms in human MDMs and airway epithelial cells exposed to CSE. We propose to determine the effect of lipopolysaccharide (LPS, from
    Gram-negative Peudomonas aeruginosa) and lipoteichoic acid (LTA) or peptidoglycan (PG) from Gram-positive bacteria on the co-activators or co-repressors including histone acetyltransferases (HAT) and HDACs, transcription factors and
    cytokine/chemokine levels in the presence and absence of CSE. PI’s earlier report has shown that benzyl isothiocyanate (BITC), a dietary agent leads to a significant decrease in the expression and activity of HDAC1 and HDAC3 in pancreatic cancer
    cells. Supportive data from other studies on BITC include demonstration of chemopreventive and anti- inflammatory effects in murine macrophages in response to LPS challenge. The anti-inflammatory properties of BITC and the associated molecular
    mechanisms in response to challenge with other microbial toxins or during cigarette smoke exposure have however not been explored yet.
  </p>
</div>
<section class="directory collapsenobs CRP" >

  {% for people in site.data.LBRNProjects_DATA_LABELS %}
    {% if people.university != nil and people.university != "University" %}
    {% assign personname = people.firstname | append: ' ' | append: people.lastname %}
                 <!-- include ndirectory-currentPi.html  -->
                 <section>
                   -

                   <p>    name: {{personname}}</p>
                   <p>    active: </p>
                   <p>    origin: {{people.university}}</p>
                   <!-- <img src="/images/people/PIs/{{ people.firstname | slice: 0}}{{ people.lastname }}.jpg" alt="{{x}}" class="img-polaroid"> -->

                   <p>    image: {{ people.firstname | slice: 0}}{{ people.lastname }}.jpg</p>
                   <p>    project_title: {{people.titleu}}</p>
                   <p>funding:  </p>
                   <p> -  </p>
                   <p>    name: {{people.projectdates}}</p>
                   <p>    period: </p>
                   <p>    abstract: |</p>
                   <p>{{ people.abstract | newline_to_br }}</p>

                 </section>

            {% endif %}

  {% endfor %}


</section>

<!-- <div class="content profilepage">

  {{page.person }}

  {% for pi in site.data.LBRNProjects_DATA_LABELS  %}
  {% assign x = pi.firstname | append: ' ' | append: pi.lastname %}
    {% if x  == page.person %}
    <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ page.person | replace:' ', '+' }}" class="pubmed-link">Link to Pubmed Publications</a>
      <div class="page">
        <p id="uni">
          {{ pi.university  }}
        </p>
        <hr>
        <div class="pi">
          <div class="row">
            <div class="mobileimg">
              <img src="/images/people/PIs/{{ pi.firstname | slice: 0}}{{ pi.lastname }}.jpg" alt="{{x}}" class="img-polaroid">
            </div>
            <div class="span6 profile-txt">
              <h2>Project Title</h2>

              <p class="project-title">{{ pi.titleu }}</p>


              <br>
              <h2>mentors: {{pi.mentors}}</h2>
              {% if pi.mentors.size > 1 %}
                <h2>Mentors</h2>
              {% else %}
                {% if pi.mentors.size == 1 %}
                <h2>Mentor</h2>
                {% endif %}
              {% endif %}

              {% if pi.mentors != nil %}
                {% if pi.mentors contains "," %}
                <h2>Mentors</h2>
                {% elsif pi.mentors contains "Collaborator:" %}
                <h2> Collaborator </h2>
                {%else %}
                <h2>Mentor</h2>
                {%endif%}

                <p>{{ pi.mentors | replace: "), ", ")  <br>" | replace: "Collaborator:", "" }}</p>
                <br>
              {% endif %}


              {% if pi.funding.size > 0 %}
                <h2>Funding Periods</h2>
              {% else %}
                <h2>Funding Period</h2>
              {% endif %}
              <p>{{pi.projectdates | replace: "), ", ")  <br>" }}</p>
              {% for funding in pi.funding %}
                <p>{{ funding.name }} ({{funding.period}})</p>
              {% endfor %}
            </div>
            <div class="profileimg">
              <img src="/images/people/PIs/{{ pi.firstname | slice: 0}}{{ pi.lastname }}.jpg" alt="{{x}}" class="img-polaroid">
            </div>
            {% if pi.abstract != null %}
            <div class="profile-txt">
              <br>
            <h2 class="profile">Abstract</h2>
          </div>
          {% endif %}
          </div>
          <br>
          <div class="abstractp">
            <p class="long-text">
              {{ pi.abstract | newline_to_br }}
            </p>
            <p class="long-text">
              {{ pi.descrip | newline_to_br }}
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div> -->
