---
layout: default
title: cvs to yml converter page
---
<p>
  convert
</p>

<style>
  .conversion {
    color: red;
    font-size: 9pt;
    word-break: unset;
  }
</style>


<section class="directory collapsenobs CRP" >

  {% for people in site.data.LBRNProjects_DATA_LABELS %}
    {% if people.university != nil and people.university != "University" %}
    {% assign personname = people.firstname | append: ' ' | append: people.lastname %}
                 <!-- include ndirectory-currentPi.html  -->
                 <section class="conversion">
                   <code>
                   -
                   <br>
                       &nbsp; name: {{personname}}
                       <br>
                       &nbsp; active:
                       <br>
                       &nbsp; origin: {{people.university}}
                       <br>
                   <!-- <img src="/images/people/PIs/{{ people.firstname | slice: 0}}{{ people.lastname }}.jpg" alt="{{x}}" class="img-polaroid"> -->
                       &nbsp; image: {{ people.firstname | slice: 0}}{{ people.lastname }}.jpg
                       <br>
                       &nbsp; project_title: {{people.titleu}}
                       <br>
                       &nbsp; funding:
                       <br>
                       &nbsp; &nbsp; -
                       <br>
                       &nbsp; &nbsp; &nbsp; name: {{people.projectdates}}
                       <br>
                       &nbsp; &nbsp; &nbsp; period:
                       <br>
                       &nbsp; abstract: |
                       <br>

                       &nbsp; &nbsp; &nbsp; {{ people.abstract }}
                 </code>
                 </section>
                 <br>

            {% endif %}

  {% endfor %}

  <!-- {{ people.abstract | newline_to_br }} -->
  <br>

</section>

<!-- <div class="content profilepage">

  {{page.person }}

  {% for pi in site.data.LBRNProjects_DATA_LABELS  %}
  {% assign x = pi.firstname | append: ' ' | append: pi.lastname %}
    {% if x  == page.person %}
    <a href="http://www.ncbi.nlm.nih.gov/pubmed/?term={{ page.person | replace:' ', '+' }}" class="pubmed-link">Link to Pubmed Publications</a>
      <div class="page">
        <p id="uni">
          {{ pi.university  }}
        </p>
        <hr>
        <div class="pi">
          <div class="row">
            <div class="mobileimg">
              <img src="/images/people/PIs/{{ pi.firstname | slice: 0}}{{ pi.lastname }}.jpg" alt="{{x}}" class="img-polaroid">
            </div>
            <div class="span6 profile-txt">
              <h2>Project Title</h2>

              <p class="project-title">{{ pi.titleu }}</p>


              <br>
              <h2>mentors: {{pi.mentors}}</h2>
              {% if pi.mentors.size > 1 %}
                <h2>Mentors</h2>
              {% else %}
                {% if pi.mentors.size == 1 %}
                <h2>Mentor</h2>
                {% endif %}
              {% endif %}

              {% if pi.mentors != nil %}
                {% if pi.mentors contains "," %}
                <h2>Mentors</h2>
                {% elsif pi.mentors contains "Collaborator:" %}
                <h2> Collaborator </h2>
                {%else %}
                <h2>Mentor</h2>
                {%endif%}

                <p>{{ pi.mentors | replace: "), ", ")  <br>" | replace: "Collaborator:", "" }}</p>
                <br>
              {% endif %}


              {% if pi.funding.size > 0 %}
                <h2>Funding Periods</h2>
              {% else %}
                <h2>Funding Period</h2>
              {% endif %}
              <p>{{pi.projectdates | replace: "), ", ")  <br>" }}</p>
              {% for funding in pi.funding %}
                <p>{{ funding.name }} ({{funding.period}})</p>
              {% endfor %}
            </div>
            <div class="profileimg">
              <img src="/images/people/PIs/{{ pi.firstname | slice: 0}}{{ pi.lastname }}.jpg" alt="{{x}}" class="img-polaroid">
            </div>
            {% if pi.abstract != null %}
            <div class="profile-txt">
              <br>
            <h2 class="profile">Abstract</h2>
          </div>
          {% endif %}
          </div>
          <br>
          <div class="abstractp">
            <p class="long-text">
              {{ pi.abstract | newline_to_br }}
            </p>
            <p class="long-text">
              {{ pi.descrip | newline_to_br }}
            </p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div> -->
