---
layout: default
title: People
---

<!-- <aside id="lbrnEventSidebar3">
  <ul>
    <div id="lbrnEventSidebarUl">
      <p>
        <button class="btn mobilefilter dropdown-toggle" type="button" data-toggle="collapse" data-target="#filterex" aria-expanded="false" aria-controls="collapseExample">
          Filters
          <div class="caret dropdown-toggle">
          </div>
        </button>
      </p>
      <div class="collapse mobilefilter" id="filterex">
          <li class="on peoplesort piac" id="piac">Admin Core</li>
          <li class="on peoplesort pibc" id="pibc">BBC Core</li>
          <li class="on peoplesort pimc" id="pimc">MCBR Core</li>
          <li class="on peoplesort picrp" id="picrp">Current PIs</li>
          <li class="on peoplesort pippi" id="pippi">Previous PIs</li>
          <li class="on peoplesort pipai" id="pipai">Partner Institues</li>
          <li class="on peoplesort pile" id="pile">LBRN EAC</li>
          <li class="on peoplesort pilsc" id="pilsc">LBRN Steering Committee</li>
      </div>
    </div>
  </ul>
</aside> -->

<aside id="lbrnEventSidebar2">
      <div id="lbrnEventSidebarUl">

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li>Go To</li>
          </div>
        </div>
    <ul>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li class="active"><a href="#lbrnAdminCore">Admin Core</a></li>
          </div>
          <!-- <div class="dot-holder">
            <li  class=" piac dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li>
              <a href="#lbrnBbcCore">BBC Core</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
            <li class=" pibc dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li><a href="#lbrnMcbrCore">MCBR Core</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
            <li  class="pimc dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li><a href="#currentlyFunded">Currently Funded PIs</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
          <li   class="picrp dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li><a href="#previouslyFunded">Previously Funded PIs</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
            <li   class=" pippi dot-indicators">  </li>
          </div> -->
        </div>
<!--
              <div class="sidebar-holder">
                <div class="dot-text-holder">
                    <li><a href="#partnerInstitutes">Partner Institutes</a>
                  </li>
                  </div>
                <div class="dot-holder">
                  <li  class="pipai dot-indicators">  </li>
                </div>
              </div> -->
              <div class="sidebar-holder">
                <div class="dot-text-holder">
                  <li><a href="#LbrnSteering">LBRN Steering Committee</a>
                  </li>
                </div>
                <!-- <div class="dot-holder">
                  <li   class="pilsc dot-indicators">  </li>
                </div> -->
              </div>

              <div class="sidebar-holder">
                <div class="dot-text-holder">
                  <li><a href="#LbrnEAC">LBRN EAC</a>
                  </li>
                </div>
                <!-- <div class="dot-holder">
                  <li   class="pile dot-indicators">  </li>
                </div> -->
              </div>


            </ul>
          </div>
    <div class="">
      <li><a href="#">top</a></li>
    </div>
</aside>

<div class="content_tweek content ">

      <h2>LBRN Core Personnel</h2>




<div class="people" id="matchHeight">
    <div class="relative">
      <h3 id="lbrnAdminCore" class="piac ptitle" aria-expanded="true">
        Admin Core
        <div class="caret dropdown-toggle"></div>
      </h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin"></i> -->
      <section class="directory collapsenobs Adcore">

        {% for people in site.admin_core %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
          <div class="peoplewrap">
            {% include directory.html %}
          {% else %}
              {% include directory.html %}
            </div>
          {% endif %}
        {% endfor %}
      </section>
    </div>
  <div class="relative">
    <h3 id="lbrnBbcCore" class="pibc ptitle">
      BBC Core
      <div class="caret dropdown-toggle">
    </h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs BBcore">
      <!-- site.data.LBRN-BBC-Core -->
      {% for people in site.bbc_core %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
          <div class="peoplewrap">
          {% include directory.html %}
        {% else %}
            {% include directory.html %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
  <div class="relative">
    <h3 id="lbrnMcbrCore" class="pimc ptitle">
      MCBR Core
      <div class="caret dropdown-toggle"></div>
    </h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs MCcore">
      {% for people in site.MCBR_core %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="peoplewrap">
        {% include directory.html %}
      {% else %}
          {% include directory.html %}
        </div>
      {% endif %}
    {% endfor %}

    </section>
  </div>
  <h2 class="pielement">Project Investigators</h2>
  <div class="relative">
    <h3 id="currentlyFunded" class="picrp ptitle" >Currently Funded PIs
            <div class="caret dropdown-toggle"></div>
            </h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs CRP" >
      {% assign count = 0 %}

      {% for people in site.data.LBRNProjects_DATA_LABELS %}
        {% if people.university != nil and people.university != "University" %}
            {% assign count = count | plus: 1 %}
              {% assign modcount = count | modulo: 2 %}

                {% if modcount == 1  %}
                <div class="peoplewrap">
                  <!-- <h4>Name: {{people.lastname}}, {{people.firstname}}</h4> -->
                    {% include ndirectory-currentPi.html %}
                  {% else %}
                    {% include ndirectory-currentPi.html %}
                  <!-- <h4>Name: {{people.lastname}}, {{people.firstname}}</h4> -->

                </div>
                {% endif %}
          {% endif %}

      {% endfor %}


    </section>
    <!-- <section class="directory collapsenobs CRP" style= "display: none;">
      {% assign count = 0 %}

      {% for people in site.project_investigators %}
          {% if people.active == true %}
            {% assign count = count | plus: 1 %}
              {% assign modcount = count | modulo: 2 %}

                {% if modcount == 1  %}
                <div class="peoplewrap">
                  {% include directory-currentPi.html %}
                  {% else %}
                  {% include directory-currentPi.html %}
                </div>
                {% endif %}



          {% endif %}
      {% endfor %}


    </section> -->
  </div>
  <div class="relative">
    <h3 id="previouslyFunded" class="pippi ptitle">Previously Funded PIs
        <div class="caret dropdown-toggle"></div>
    </h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs PrevPPi">

      {% assign count = 0 %}

      {% for people in site.project_investigators %}
          {% if people.active == false %}
            {% assign count = count | plus: 1 %}
              {% assign modcount = count | modulo: 2 %}

                {% if modcount == 1  %}
                <div class="peoplewrap">
                  {% include directory-pi-page.html %}
                  {% else %}
                  {% include directory-pi-page.html %}
                </div>
                {% endif %}



          {% endif %}
      {% endfor %}

    </section>
  </div>

  <!-- Obeselete -->
  <div class="relative Parti" style="display: none;">
    <h2 id="partnerInstitutes dropdown-toggle">Partner Institutes</h2>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin2" aria-hidden="true"></i> -->
    <section class="directory collapsenobs">
      {% for people in site.partner_Institutes %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="peoplewrap">
        {% include directory-partner-institutes.html  %}
      {% else %}
          {% include directory-partner-institutes.html  %}
        </div>
      {% endif %}
    {% endfor %}

    </section>
  </div>
  <div class="relative">
    <h3 id="LbrnSteering" class="pilsc ptitle">LBRN Steering Committee
      <div class="caret dropdown-toggle"></div>
    </h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs LBRNsc">
      <!-- site.data.LBRN-Steering-Committee -->
      {% for people in site.LBRN_Steering_Committee %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="peoplewrap">
        {% include directory-committee-members.html  %}
        {% else %}
        {% include directory-committee-members.html  %}
      </div>
      {% endif %}
      {% endfor %}

    </section>
  </div>
  <h2 class="cmelement">Committee Members</h2>
  <div class="relative">
    <h3 id="LbrnEAC" class="pile ptitle">LBRN External Advisory Committee
              <div class="caret dropdown-toggle">
    </h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs LBRNe">
      <!-- site.data.LBRN-EAC -->

      {% assign loopindex = 0 | modulo: 2 %}

      {% for people in site.committee-members %}

        {%  assign loop2 = loopindex | modulo: 2 %}

        {% if people.category != "Former EAC Members"%}

          {% if loopindex == 0 %}

          <div class="peoplewrap">

            {% include directory-committee-members.html  %}

          {% else %}

          {% include directory-committee-members.html  %}
        </div>

          {% endif %}

          {% assign loopindex = loopindex | plus: 1  | modulo: 2 %}
        {% endif %}

      {% endfor %}
      {% if loopindex == 1%}
  </div>
{%endif%}




    <!-- ADD IF = CATEGORY Former -->
    <!-- seperate them -->

    <h3>Former EAC Members</h3>

    {% assign loopindex = 0 | modulo: 2 %}

    {% for people in site.committee-members %}

      {%  assign loop2 = loopindex | modulo: 2 %}

      {% if people.category == "Former EAC Members"%}

        {% if loopindex == 0 %}

        <div class="peoplewrap">

          {% include directory-committee-members.html  %}

        {% else %}

        {% include directory-committee-members.html  %}
      </div>

        {% endif %}

        {% assign loopindex = loopindex | plus: 1  | modulo: 2 %}
      {% endif %}

    {% endfor %}
    {% if loopindex == 1%}
  </div>
{%endif%}


      <!-- directory-committee-members.html  -->

    </section>

  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/scrollMenu.js"></script>
</div>
