---
layout: default
title: People
---

<aside id="lbrnEventSidebar3">
  <ul>
    <div id="lbrnEventSidebarUl">
      <p>
        <button class="btn mobilefilter dropdown-toggle" type="button" data-toggle="collapse" data-target="#filterex" aria-expanded="false" aria-controls="collapseExample">
          Filters
        </button>
      </p>
      <div class="collapse mobilefilter" id="filterex">
          <li class="on peoplesort piac" id="piac">Admin Core</li>
          <li class="on peoplesort pibc" id="pibc">BBC Core</li>
          <li class="on peoplesort pimc" id="pimc">MCBR Core</li>
          <li class="on peoplesort picrp" id="picrp">Current PIs</li>
          <li class="on peoplesort pippi" id="pippi">Previous PIs</li>
          <!-- <li class="on peoplesort pipai" id="pipai">Partner Institues</li> -->
          <li class="on peoplesort pile" id="pile">LBRN EAC</li>
          <li class="on peoplesort pilsc" id="pilsc">LBRN Steering Committee</li>
      </div>
    </div>
  </ul>
</aside>

<aside id="lbrnEventSidebar2">
  <ul>
      <div id="lbrnEventSidebarUl">
        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li>Go To</li>
          </div>
          <!-- <div class="dot-holder">
            <li> Filter </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li class="active"><a href="#lbrnAdminCore">Admin Core</a></li>
          </div>
          <!-- <div class="dot-holder">
            <li  class=" piac dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li>
              <a href="#lbrnBbcCore">BBC Core</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
            <li class=" pibc dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li><a href="#lbrnMcbrCore">MCBR Core</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
            <li  class="pimc dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li><a href="#currentlyFunded">Currently Funded PIs</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
          <li   class="picrp dot-indicators">  </li>
          </div> -->
        </div>

        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li><a href="#previouslyFunded">Previously Funded PIs</a>
            </li>
          </div>
          <!-- <div class="dot-holder">
            <li   class=" pippi dot-indicators">  </li>
          </div> -->
        </div>
<!--
              <div class="sidebar-holder">
                <div class="dot-text-holder">
                    <li><a href="#partnerInstitutes">Partner Institutes</a>
                  </li>
                  </div>
                <div class="dot-holder">
                  <li  class="pipai dot-indicators">  </li>
                </div>
              </div> -->

              <div class="sidebar-holder">
                <div class="dot-text-holder">
                  <li><a href="#LbrnEAC">LBRN EAC</a>
                  </li>
                </div>
                <!-- <div class="dot-holder">
                  <li   class="pile dot-indicators">  </li>
                </div> -->
              </div>

              <div class="sidebar-holder">
                <div class="dot-text-holder">
                    <li><a href="#LbrnSteering">LBRN Steering Committee</a>
                  </li>
                </div>
                <!-- <div class="dot-holder">
                  <li   class="pilsc dot-indicators">  </li>
                </div> -->
              </div>
    </div>
    <li><a href="#">top</a></li>
  </ul>
</aside>

<div class="content_tweek content ">

      <h2>LBRN Core Personnel</h2>




<div class="people" id="matchHeight">
    <div class="relative">
      <h3 id="lbrnAdminCore" class="piac dropdown-toggle">Admin Core</h3>
      <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin"></i> -->
      <section class="directory collapsenobs Adcore">

        {% for people in site.admin_core %}
          {% assign loopindex = forloop.index | modulo: 2 %}
          {% if loopindex == 1 %}
            <div>
            {% include directory.html %}
          {% else %}
              {% include directory.html %}
            </div>
          {% endif %}
        {% endfor %}
      </section>
    </div>
  <div class="relative">
    <h3 id="lbrnBbcCore" class="pibc dropdown-toggle">BBC Core</h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs BBcore">
      <!-- site.data.LBRN-BBC-Core -->
      {% for people in site.bbc_core %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
          <div class="peoplewrap">
          {% include directory.html %}
        {% else %}
            {% include directory.html %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </div>
  <div class="relative">
    <h3 id="lbrnMcbrCore" class="pimc dropdown-toggle">MCBR Core</h3>
    <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i>
    <section class="directory collapsenobs MCcore">
      {% for people in site.MCBR_core %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="peoplewrap">
        {% include directorymcbr.html %}
      {% else %}
          {% include directorymcbr.html %}
        </div>
      {% endif %}
    {% endfor %}

    </section>
  </div>
  <h2 class="pielement">Project Investigators</h2>
  <div class="relative">
    <h3 id="currentlyFunded" class="picrp dropdown-toggle" >Currently Funded PIs</h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs CRP">
      {% for people in site.project_investigators %}

        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
          <div class="peoplewrap">
                  {% include directory-currentPi.html %}
        {% else %}
                    {% include directory-currentPi.html %}
          </div>
        {% endif %}
      {% endfor %}

    </section>
  </div>
  <div class="relative">
    <h3 id="previouslyFunded" class="pippi dropdown-toggle">Previously Funded PIs</h3>
    <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i>
    <section class="directory collapsenobs PrevPPi">
      {% for people in site.previous_pis %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
          <div class="peoplewrap">
          {% include directory-pi-page.html %}
        {% else %}
            {% include directory-pi-page.html %}
          </div>
        {% endif %}
      {% endfor %}

    </section>
  </div>

  <!-- Obeselete -->
  <div class="relative Parti" style="display: none;">
    <h2 id="partnerInstitutes dropdown-toggle">Partner Institutes</h2>
    <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin2" aria-hidden="true"></i>
    <section class="directory collapsenobs">
      {% for people in site.partner_Institutes %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="peoplewrap">
        {% include directory-partner-institutes.html  %}
      {% else %}
          {% include directory-partner-institutes.html  %}
        </div>
      {% endif %}
    {% endfor %}

    </section>
  </div>
  <h2 class="cmelement">Committee Members</h2>
  <div class="relative">
    <h3 id="LbrnEAC" class="pile dropdown-toggle">LBRN External Advisory Committee</h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs LBRNe">
      <!-- site.data.LBRN-EAC -->
      {% for people in site.committee-members %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="peoplewrap">
        {% include directory-committee-members.html  %}
      {% else %}
          {% include directory-committee-members.html  %}
        </div>
      {% endif %}
    {% endfor %}

      <!-- directory-committee-members.html  -->

    </section>
  </div>
  <div class="relative">
    <h3 id="LbrnSteering" class="pilsc dropdown-toggle">LBRN Steering Committee</h3>
    <!-- <i class="collapsetstyle fa fa-2x fa-chevron-right icon-margin" aria-hidden="true"></i> -->
    <section class="directory collapsenobs LBRNsc">
      <!-- site.data.LBRN-Steering-Committee -->
      {% for people in site.LBRN_Steering_Committee %}
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
        <div class="peoplewrap">
        {% include directory-committee-members.html  %}
      {% else %}
          {% include directory-committee-members.html  %}
        </div>
      {% endif %}
    {% endfor %}

    </section>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/scrollMenu.js"></script>
</div>
