---
layout: default
title: Project Investigators
---

<aside id="lbrnEventSidebar3">
  <ul>
    <div id="lbrnEventSidebarUl">
      <p>
        <button class="btn mobilefilter dropdown-toggle" type="button" data-toggle="collapse" data-target="#filterex" aria-expanded="false" aria-controls="collapseExample">
          Filters
        </button>
      </p>
      <div class="collapse mobilefilter" id="filterex">
        <li class="on pifp">Full Project</li>
        <li class="on pisp">Startup Project</li>
        <li class="on pisip">Shared Instrument Project</li>
        <li class="on pipp">Pilot Project</li>
        <li class="on pitp">Translational Project</li>
          <li class="on peoplesort pilsc" id="pilsc">LBRN Steering Committee</li>
      </div>
    </div>
  </ul>
</aside>

<aside id="lbrnEventSidebar2">
      <div id="lbrnEventSidebarUl">
        <div class="sidebar-holder">
          <div class="dot-text-holder">
            <li>Filter</li>
          </div>
        </div>
        <ul>
            <li class="on pifp">Full Project</li>
            <li class="on pisp">Startup Project</li>
            <li class="on pisip">Shared Instrument Project</li>
            <li class="on pipp">Pilot Project</li>
            <li class="on pitp">Translational Project</li>
        </ul>
    </div>
    <!-- <li><a href="#">top</a></li> -->
  <div class="">
    <li><a href="#">top</a></li>
  </div>
</aside>


<div class="content_tweek content ">

<!-- <nav id="pi-filter">
  <p>Filters:</p>
  <ul>
      <li class="on" id="pifp">Full Project</li>
      <li class="on" id="pisp">Startup Project</li>
      <li class="on" id="pisip">Shared Instrument Project</li>
      <li class="on" id="pipp">Pilot Project</li>
      <li class="on" id="pitp">Translational Project</li>
    </ul>
</nav> -->
<!-- <h2>Project Investigators</h2> -->
<section class="directory">
  {% assign count = 0 %}

  {% for pi in site.project_investigators  %}
      {% if pi.active == true %}
        {% assign count = count | plus: 1 %}
          {% assign modcount = count | modulo: 2 %}

            {% if modcount == 1  %}
            <div class="peoplewrap">
                {% include current_pi.html %}
              {% else %}
                {% include current_pi.html %}
            </div>
            {% endif %}



      {% endif %}
  {% endfor %}


</section>

</div>
<section class="directory">
