---
layout: default
title: Project Investigators
---

<aside id="lbrnEventSidebar3">
  <ul>
    <div id="lbrnEventSidebarUl">
      <p>
        <button class="btn mobilefilter dropdown-toggle" type="button" data-toggle="collapse" data-target="#filterex" aria-expanded="false" aria-controls="collapseExample">
          Filters
        </button>
      </p>
      <div class="collapse mobilefilter" id="filterex">
        <li class="on pifp">Full Project</li>
        <li class="on pisp">Startup Project</li>
        <li class="on pisip">Shared Instrument Project</li>
        <li class="on pipp">Pilot Project</li>
        <li class="on pitp">Translational Project</li>
          <li class="on peoplesort pilsc" id="pilsc">LBRN Steering Committee</li>
      </div>
    </div>
  </ul>
</aside>

<aside id="lbrnEventSidebar2">
  <ul>
      <div id="lbrnEventSidebarUl">

            <li class="on pifp">Full Project</li>
            <li class="on pisp">Startup Project</li>
            <li class="on pisip">Shared Instrument Project</li>
            <li class="on pipp">Pilot Project</li>
            <li class="on pitp">Translational Project</li>

    </div>
    <li><a href="#">top</a></li>
  </ul>
</aside>


<div class="testdiv content ">

<!-- <nav id="pi-filter">
  <p>Filters:</p>
  <ul>
      <li class="on" id="pifp">Full Project</li>
      <li class="on" id="pisp">Startup Project</li>
      <li class="on" id="pisip">Shared Instrument Project</li>
      <li class="on" id="pipp">Pilot Project</li>
      <li class="on" id="pitp">Translational Project</li>
    </ul>
</nav> -->
<h2>Previous Project Investigators</h2>
<section class="directory">
{% for pi in site.project_investigators  %}
  {% include current_pi.html %}
{% endfor %}
</section>
<section class="directory" >

  <!--   //you can't comment these lines of code out in full. it causes errors -->
  {% for pi in site.project_investigators %}
  <article class="person" data-pType="{{pi.project-type}}">
    <img src="images/people/{{pi.image}}" alt="{{pi.author}}">
    <h4>{{pi.author}}</h4>
    <a class="natural-link" href="{{pi.url | relative_url }}"><h5>{{pi.title}}</h5></a>
    <h6 style="margin-top: .6em;">{{pi.school}}</h6>
    <h6 style="margin-top: .6em;">{{pi.project-type}}</h6>
  </article>
  {% endfor %}
</section>
</div>
<section class="directory">
