---
layout: defaulttest2
title: Modified About/Test Environment
---


<style>
  .pubmed-link{
    background-color: #d4ebd5;
    color: #2C3D6C;
    display: inline-block;
    font-weight: 400;
    /* color: #212529; */
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    float:right;
  }
  .pubmed-link:hover{
    background-color: #8ECB91;
    color: #fff;
  }

</style>
<p>Site. time: {{site.time}}</p>
<p>site.time date: {{ site.time | date: "%Y %m %d" }}</p>

{% for pi in site.data.pis_full %}
  {{pi.name}}
{% endfor %}
<div class="bar">
  <!-- <a href="#">Useless Link</a> -->
  <ul class="header2";>
    <li>
      <a href="#" class="ab">Dropdown Link</a>
      <ul >
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
    </li>
  </ul>
  <ul class="header3";>
    <li>
      <a href="#" class="ab">Dropdown Link2</a>
      <ul >
        <li><a href="#">Link 4</a></li>
        <li><a href="#">Link 5</a></li>
        <li><a href="#">Link 6</a></li>
      </ul>
    </li>
  </ul>
</div>

<br>
<h2>Filter DIV Elements</h2>

<div id="myBtnContainer">
  <button class="btn active" onclick="filterSelection('admin')"> admin</button>
  <button class="btn" onclick="filterSelection('bbc')"> bbc</button>
  <button class="btn" onclick="filterSelection('mcbr')"> mcbr</button>
</div>

<div class="container">
  <div class="filterDiv admin">BMW</div>
  <div class="filterDiv bbc">Orange</div>
  <div class="filterDiv mcbr">Volvo</div>
</div>



<article style = "display: none;">
  <ul>

    <p>date: {{ site.time }}</p>
    <!-- {{ now }} -->
      {% assign sorted = site.events | sort: 'eventDate'| reverse %}
      {% for event in sorted limit:4 %}
       {% include events-list-item.html %}

      <!-- if date <= now -->
          {{event.date}}
          <li>{{ event.title }}</li>
       {% endfor %}
<!-- <div class="dropdown">
  <button id="dropdownMenu1" data-toggle="dropdown">
    My account
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">My cart</a></li>
    <li><a class="dropdown-item" href="#">My orders</a></li>
    <li><a class="dropdown-item" href="#">My details</a></li>
    <li role="separator" class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Log out</a></li>
  </ul>
</div> -->

<div id="item1">
</div>
<div class="dogtest">
dog
</div>
<div id="item2">
</div>
<br>
        <!-- <li id="about"><a href="about.html" class="dogtest">About</a></li> -->
        <div id="about" class="dropdown">
          <li ><a href="about.html" class="dogtest">About</a></li>

          <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item_cust navLink" href="index.html#AboutEvents">
            Events
            <a class="dropdown-item_cust navLink" href="index.html#AboutContact">
            Contact Us
            </a>
          </div>
        </div>

<span class="dogtest">Hover over me!</span>
<div class="dogtest2">I will show on hover</div>

<div class="dropdown">
<!-- <div class="nav-item dropdown col-4 noPad row"> -->
  <a class="Headerbutton-cust text-center col-12 navLink" href="index.html#AboutBanner" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" style="height: 100%;">
    About Us
    <!-- add this line in for the active element for text-only broswers -->
    <!-- <span class="sr-only">(current)</span> -->
  </a>
  <div class="dropdown-menu dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item_cust navLink" href="index.html#AboutEvents">
    Events
    <!-- add this line in for the active element for text-only broswers -->
      <!-- <span class="sr-only">(current)</span></a> -->
    <a class="dropdown-item_cust navLink" href="index.html#AboutContact">
    Contact Us
    <!-- add this line in for the active element for text-only broswers -->
      <!-- <span class="sr-only">(current)</span> -->
    </a>
  </div>
</div>



<br>
