---
layout: default
title: LBRN Workshops
---
<!-- <div class="three-card-responsive resources">
  <section>
    <a href="training-workshops.html"><img src="images/workshop.jpg" alt="LBRN hosted Training Workshops">
    <h2>Training Workshops</h2>
    <p>LBRN Cores host various one or two day workshops throughout the year where researchers, faculty, graduate and undergraduate students are invited to attend. Topics range from computational bioinformatics to protein purification, etc.</p>
    <p class="more">view more</p></a>
  </section>
  <section>
    <a href="training-workshops.html"><img src="images/workshop.jpg" alt="LBRN hosted Training Workshops">
    <h2>Placeholder</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis imperdiet tellus, et molestie mauris. Curabitur blandit, arcu et maximus suscipit, enim enim semper erat, nec congue nisl nulla quis urna. Quisque consectetur velit magna, quis molestie odio finibus quis. </p>
    <p class="more">view more</p></a>
  </section>
  <section>
    <a href="training-workshops.html"><img src="images/workshop.jpg" alt="LBRN hosted Training Workshops">
    <h2>Placeholder</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis imperdiet tellus, et molestie mauris. Curabitur blandit, arcu et maximus suscipit, enim enim semper erat, nec congue nisl nulla quis urna. Quisque consectetur velit magna, quis molestie odio finibus quis. </p>
    <p class="more">view more</p></a>
  </section>
</div> -->
<section class="news tne" id="newsContainer">
<!-- add limit: 2 to the 2nd tne post if needed -->
{% assign tne-post = site.posts | where: "categories", "workshop" %}
  {% for post in tne-post %}
    {% include news-full-list-item.html %}
  {% endfor %}

</section>
<aside id="newsSidebar" class="tne">
  <ul>
    {% for post in tne-post %}
      <a href="#{{post.date}}"><li>{{post.title}}</li></a>
    {% endfor %}
  </ul>
</aside>
