
<article class="person" data-pType="{{people.project-type}}">
  <img src="images/people/{{people.image}}" alt="Profile Picture}">
  {% if people.author != "none" %}
  <h4>{{people.author}}</h4>
  {% endif %}

  <h5>{{people.title}}</h5>
  <!-- <a class="natural-link" href="{{people.url | relative_url }}"><h5>{{people.title}}</h5></a> -->
  <h6 style="margin-top: .6em;">{{people.school}}</h6>
  <h6 style="margin-top: .6em; display: none;">{{people.project-type}}</h6>
  <ul>
    <!-- <li>{{people.zip}}</li> -->
    <li>{{people.city}}, {{people.state}}, {{people.zip}}</li>
    <li>{{people.email}}</li>
    <li>{{people.phone}}</li>
  </ul>
</article>
