<!-- <article class="person">
  <h6>project: {{people.project}}</h6>
  <h6>author: {{people.name}}</h6>
  <h6>school: "{{people.school}}"</h6>
  <h6>project-type: TestElement</h6>
  <h6>image: "{{people.image}}"</h6>
</article> -->

<article class="person">
  <img src="images/people/{{people.image}}" alt="{{people.name}}">

  <!-- <h4>{{people.author}}</h4> -->
  <a class="natural-link" href="{{people.url | relative_url }}">    <h5>{{people.project}}</h5></a>
  <h5>{{people.project}}</h5>
  <h6 style="margin-top: .7em;">{{people.school}}</h6>
</article>
