<article class="person">
  {% if people.category != "none" %}
  <h3>{{people.category}}</h3>
  {% endif %}
  <img class="nudge" src="images/people/{{people.image}}" alt="{{people.name}}">
  <h4>{{people.name}}</h4>
  <h4>{{people.author}}</h4>
  <h5>{{people.school}}</h5>
</article>



<!-- <article class="person">

  <h4>author: {{people.name}}</h4>
  <h4>school: "{{people.school}}"</h4>
  <h4>project-type: TestElement</h4>
  <h4>image: "{{people.image}}"</h4>
  <h4>category: {{people.category}}</h4>
</article> -->
