<header class="{{page.tag}}">
  <div class="layout">
    <a href="../index.html"><img src="../images/webLogo3.png" alt="LBRN Logo"></a>
    <h1>Louisiana&nbsp;Biomedical Research&nbsp;Network</h1>
    <button id="navBug" class="btn" type="button" data-toggle="collapse" data-target=".navdropdownbig" aria-expanded="false" aria-controls="collapseExample">
      <img src="../images/menuClosed.png" alt="Menu Bug">
    </button>
  </div>
</header>
<!-- NOW WITH DROPDOWNS! -->

<div class="navdropdownbig navdropdown">
  <ul class="layout">
    <li><a href="../about.html">About</a>
      <ul>
        <li><a href="../about.html#aboutMissionStatement">Mission Statement</a></li>
        <li><a href="../people.html">People</a>
        <li><a href="../about.html#aboutGoals">Goals</a></li>
        <li><a href="../about.html#campusmap">Campus Map</a></li>
        <li><a href="../about.html#aboutCores">Cores</a></li>
      </ul>
    </li>
    <li><a href="../cores.html">Cores</a>
      <!-- <ul>
        <li><a href="../cores.html#activities">Cores</a></li>
        <li><a href="../cores.html#coreservices">Services</a></li>
      </ul> -->
    </li>
    <li><a href="../research.html">Research</a>
      <ul>
        <li><a href="../research.html#currentresearch">Current Activities</a></li>
        <li><a href="../research.html#fundingop">Funding Opportunities</a></li>
        <li><a href="../research.html#coreservices">Services</a></li>
      </ul>
    </li>
    <li><a href="../education.html">Training & Education</a>
    <ul>
      <li><a href="../education.html#bioinformatics">Bioinformatics</a></li>
      <li><a href="../education.html#lectures">Lectures</a></li>
      <li><a href="../education.html#workshops">Workshops</a></li>
    </ul>
  </li>
    <li><a href="../resources.html">Resources</a>
      <ul>
        <li><a href="../nih-acknowledgement.html">NIH Acknowledgement</a></li>
        <li><a href="../nih-links.html">NIH Links</a></li>
        <li><a href="../presentation-templates.html">Presentation Templates</a></li>
        <li><a href="../poster-boards.html">Poster Boards</a></li>
        <li><a href="../redcap.html">REDcap</a></li>
        <li><a href="../video-repository.html">Video Repo</a></li>
      </ul>
    </li>
    <li><a href="../lbrn-events.html">Events</a>
      <ul>
        <li><a href="../annual-meetings.html">Annual Meetings</a></li>
        <li><a href="../conference-on-biology-and-bioinformatics.html">Conference on Biology & Bioinformatics</a></li>
        <li><a href="../workshops.html">LBRN Workshops</a></li>
        <li><a href="../computational-biology-seminar-series.html">LSU Computational Biology Seminar Series</a></li>
        <li><a href="../summer-undergrad-research-forum.html">Research Forum</a></li>
        <li><a href="../lbrn-works-in-progress.html">LBRN Works-in-progress</a></li>
      </ul>
    </li>
    <li class="right">
        <a class="button highlights" href="{{site.baseurl}}/highlights.html">Highlights</a>
        <a class="button" href="../newsletter.html">Newsletter</a>
        <li class="socialMedia">
          <a target="_blank" href="https://www.facebook.com/LouisianaBiomedicalResearchNetwork" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
          <a target="_blank" href="https://twitter.com/lbrn_inbre" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
          <a target="_blank" href="https://www.youtube.com/user/LBRNINBRE/videos" aria-label="Youtube"><i class="fa fa-youtube-square"></i></a>
        </li>
    </li>
  </ul>
</div>
