<header class="{{page.tag}}">
  <div class="layout">
  <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/webLogo.png" alt="LBRN Logo"></a>
    <h1>Louisiana&nbsp;Biomedical Research&nbsp;Network</h1>
    <button id="navBug" class="btn" type="button" data-toggle="collapse" data-target=".navdropdownbig" aria-expanded="false" aria-controls="collapseExample">
      <img src="{{site.baseurl}}/images/menuClosed.png" alt="Menu Bug">
    </button>
  </div>
</header>
<!-- NOW WITH DROPDOWNS! -->

<div class="navdropdownbig navdropdown">
  <ul class="layout">
    <li><a href="{{site.baseurl}}/about.html">About</a>
      <ul>
        <li><a href="{{site.baseurl}}/about.html#aboutMissionStatement">Mission Statement</a></li>
        <li><a href="{{site.baseurl}}/people.html">People</a>

        <li><a href="{{site.baseurl}}/about.html#aboutGoals">Goals</a></li>
        <li><a href="{{site.baseurl}}/about.html#campusmap">Campus Map</a></li>
        <li><a href="{{site.baseurl}}/about.html#aboutCores">Cores</a></li>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/cores.html">Cores</a>
      <ul>
        <li><a href="{{site.baseurl}}/cores.html#activities">Activites</a></li>
        <!-- <li><a href="{{site.baseurl}}/cores.html#fundingop">Funding Opportunities</a></li> -->
        <li><a href="{{site.baseurl}}/cores.html#coreservices">Services</a></li>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/research.html">Research</a>
      <ul>
        <li><a href="{{site.baseurl}}/research.html#currentresearch">Current Activities</a></li>
        <li><a href="{{site.baseurl}}/research.html#fundingop">Funding Opportunities</a></li>
        <li><a href="{{site.baseurl}}/research.html#coreservices">Services</a></li>
      </ul>
    </li>
    <li><a href="education.html">Training & Education</a></li>
    <li><a href="{{site.baseurl}}/resources.html">Resources</a>
      <ul>
        <li><a href="{{site.baseurl}}/nih-acknowledgement.html">NIH Acknowledgement</a></li>
        <li><a href="{{site.baseurl}}/nih-links.html">NIH Links</a></li>
        <li><a href="{{site.baseurl}}/presentation-templates.html">Presentation Templates</a></li>
        <li><a href="{{site.baseurl}}/poster-boards.html">Poster Boards</a></li>
        <li><a href="{{site.baseurl}}/redcap.html">REDcap</a></li>
        <li><a href="{{site.baseurl}}/video-repository.html">Video Repo</a></li>
      </ul>
    </li>
    <li><a href="{{site.baseurl}}/lbrn-events.html">Events</a>
      <ul>
        <li><a href="{{site.baseurl}}/annual-meetings.html">Annual Meetings</a></li>
        <li><a href="{{site.baseurl}}/conference-on-biology-and-bioinformatics.html">Conference on Biology & Bioinformatics</a></li>
        <li><a href="{{site.baseurl}}/training-workshops.html">Training Workshops</a></li>
        <li><a href="{{site.baseurl}}/computational-biology-seminar-series.html">LSU Computational Biology Seminar Series</a></li>
        <li><a href="{{site.baseurl}}/summer-undergrad-research-forum.html">Research Forum</a></li>
        <li><a href="{{site.baseurl}}/lbrn-works-in-progress.html">LBRN Works-in-progress</a></li>
      </ul>
    </li>
    <li class="right">
        <a class="button" href="{{site.baseurl}}/newsletter.html">Newsletter</a>
    </li>
    <li class="right socialMedia">
        <a target="_blank" href="https://www.facebook.com/LouisianaBiomedicalResearchNetwork" aria-label="Facebook"><i class="fa fa-facebook"></i></a>
        <a target="_blank" href="https://twitter.com/lbrn_inbre" aria-label="Twitter"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.youtube.com/user/LBRNINBRE/videos" aria-label="Youtube"><i class="fa fa-youtube-square"></i></a>
    </li>
  </ul>
</div>
