    <footer>
      <div class="layout">
        <p>
          copyright &copy; LBRN {{ 'now' | date: "%Y" }}<br>
          <a href="https://www.lsu.edu/feedback" class="bold">Provide Website Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/accessibility" class="bold">Accessibility Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/privacy/index.php">Privacy Statement</a>
        </p>
        <p>Support from the <a target="_blank" href="https://nih.gov/">National Institute of Health</a> through the National institute of General Medical Science Grant
          <a target="_blank" href="https://projectreporter.nih.gov/project_info_description.cfm?aid=9902045&icde=51604231">
          <span>{% include footergrantversion.html %}</span></a> is gratefully acknowledged.</p>

      </div>
    </footer>
