    <footer>
      <div class="layout">
        <p>
          copyright &copy; LBRN {{ 'now' | date: "%Y" }}<br>
          <a href="https://www.lsu.edu/feedback" class="bold">Provide Website Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/accessibility" class="bold">Accessibility Statement</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/privacy/index.php">Privacy Statement</a>
        </p>
        <p>Support from the National Institute of Health through the National institute of General Medical Science Grant
          <span>{% include footergrantversion.html %}</span> is gratefully acknowledged.</p>
      </div>
    </footer>