<section id="{{highlight.date | date: '%d' }}{{highlight.date | date: '%b'}}">
  {% if highlight.link != nil %}
  <a href="{{highlight.link}}">
  {% endif %}
  {% if highlight.categories contains "Event" %}



  {% if highlight.img != nil %}
  <div class="date">
    <img src="/images/highlights/{{highlight.img}}" alt="">
    <!-- test yes img -->
  </div>
  {% endif %}
  {% if highlight.img != nil %}
  <div class="details">
  {% else %}
  <div class="details notice">

  {% endif %}

    <p class="title">{{highlight.title}}</p>
    <p class="description">{{highlight.description}}</p>
    {% if highlight.startTime != nil }
    <p class="date-time">{{highlight.startTime}} to {{highlight.endTime}}</p>
    {% else %}

    {% endif %}

  </div>
  {% else %}
  <div class="notice details">
    <p class="title">{{highlight.title}}</p>
    <p class="description">{{highlight.description}}</p>
  </div>
  {% endif %}
  {% if highlight.link != nil %}
  </a>
  {% else %}

  {% endif %}
</section>
