{% for speakers in site.data.LCCB-speakers-2020 %}
<section>
  <a href="{{speakers.photolink}}" alt="{{speakers.name}} about page"><img src="{{speakers.picture}}" alt="{{speakers.name}} about photo"></a>
  <h3><a href="{{speakers.aboutlink}}" alt="{{speakers.name}} about page">{{speakers.name}}</a></h3>
 
  <p style="font-size:20px">{{speakers.university}}</p>
  <p style="font-size:20px">{{speakers.title1}}</p>
  <p style="font-size:20px">{{speakers.title2}}</p>
  <p style="font-size:20px">{{speakers.area}}</p>
 
</section>
{% endfor %}
