<article class="person npi" >
  <img src="images/people/PIs/{{ people.image}}?v1.1" alt=" {{people.name}}'s portrait photo.">
  <!-- <img src="images/people/{{people.photo}}" alt="{{people.author}}'s portrait photo."> -->
  <h4>{{people.name}}</h4>
  <h5 >{{people.origin}}</h5>
  {% assign projectNum =  people.funding.size | minus: 1 %}
  <h6>{{people.funding[projectNum].name}}</h6>

  {% assign url_name = people.name | split: " " %}
  {% assign url_full = "" %}
  {% assign num = url_name | size | minus: 1 %}

  {% assign url_full = url_full | append: url_name[num] | append: "_"  %}

  {% assign num2 = num | minus: 1 %}
  {% for i in (0..num2) %}
    {% if i == 0 and num2 == 1 %}
      {% assign url_full = url_full | append: url_name[i] | append: "_"  %}
    {% else %}
      {% assign url_full = url_full | append: url_name[i] %}
    {% endif%}
  {% endfor %}
  <a class="natural-link" href="/pis/{{url_full | remove: "." | replace: " ", "_" }}.html"><h5>{{people.project_title}}</h5></a>

</article>
