<article>
  <!-- <a href={{ {{post.url}} | relative_url }}> -->
    <h3 class="override" id="{{post.date}}">{{post.title}}</h3>
  <!-- </a> -->
  <img src="{{post.featuredImageUrlSquare}}" alt="{{post.title}}">
  {% if post.eventDate != nil %}
    <p class="post-date"><span class="pre">Event Date: </span>{{post.eventDate}}</p>
  {% else %}
    <p class="post-date"><span class="pre">Post Date: </span>{{post.date | date:" %B, %-d %Y"}}</p>
  {% endif %}
  <!-- <p class="post-date">{{post.date | date:" %B, %-d %Y"}}</p> -->
  <p class="summary">{{post.excerpt | strip_html }}</p>
  <a class="post-link" href="{{site.baseurl}}{{post.url}}">VIEW&nbsp;FULL&nbsp;STORY</a>
</article>
