
//colors - normal
$primary: #2C3D6C !default;
$secondary: #8ECB91 !default;
$tertiary: #7dc380 !default;
$quadiary: #c2e3c4 !default;
$pentia: #def0df !default;
$sexta: #d4ebd5 !default;
$carbg: rgba(142, 203, 145, 0.7) !default;
$cartext: #FCF59E !default;
$resgreen: #c2e2c4 !default;
$aboutcores: #b1dbb3 !default;
$aboutcoreshover: #e5f3e6 !default;
$viewall: #5ab35e !default;





$resbutton: $primary !default;
$primaryheader: $primary !default;
$pageheader: $primary !default;
$resbuttoneven: $resbutton !default;
$resbuttonevenhover: white !default;

//font
$titleFont: 'Open Sans Condensed', sans-serif;
$bodyFont:'Ubuntu', sans-serif;
$openFont: 'Open Sans', sans-serif;

//misc
$filter:  none !default;
$transition: filter .2s ease;

//Breakpoints
$zero: 0;
$sm: 414px;
$md: 667px;
$lg: 860px;
$xl: 1224px;
$xxl: 1500px;

// BLM variable
// @import "partials/blm";
