//colors - normal
// $primary: #2C3D6C;
// $secondary: #8ECB91;
//$tertiary: #7dc380;
//$quadiary: #c2e3c4;
//$pentia: #def0df;
//$sexta: #d4ebd5;
//$carbg: rgba(142, 203, 145, 0.7);
//$cartext: #FCF59E;
//$resgreen: #c2e2c4;
// $aboutcores: #b1dbb3;
// $aboutcoreshover: #e5f3e6;
// $viewall: #5ab35e;

//Colors - BLM
$primary: #656565;
$secondary: #181818;
$tertiary: #2f2f2f;
$quadiary: #dedede;
$pentia: #bbbbbb;
$sexta: #ebebeb;
$carbg: rgba(0, 0, 0, 0.7);
$cartext: white;
$resgreen: #d1d1d1;
$aboutcores: #dddddd;
$aboutcoreshover: #f2f2f2;
$viewall: #2f2f2f;




// $primaryheader: $primary;
//$pageheader: $resgreen;
// $resbuttoneven: $resbutton;
// $resbuttonevenhover: white;
$primaryheader: #ffffff;
$pageheader: #000000;
$resbutton: $primary;
$resbuttoneven: #ffffff;
$resbuttonevenhover: $secondary;

//fonts
$titleFont: 'Open Sans Condensed', sans-serif;
$bodyFont:'Ubuntu', sans-serif;
$openFont: 'Open Sans', sans-serif;

//misc
$filter:  grayscale(100%);
$transition: filter .2s ease;
