// Colors - BLM
$primary: #656565;
$secondary: #181818;
$tertiary: #2f2f2f;
$quadiary: #dedede;
$pentia: #bbbbbb;
$sexta: #ebebeb;
$carbg: rgba(0, 0, 0, 0.7);
$cartext: white;
$resgreen: #d1d1d1;
$aboutcores: #dddddd;
$aboutcoreshover: #f2f2f2;
$viewall: #2f2f2f;
$primaryheader: $primary;

$primaryheader: #ffffff;
$pageheader: #000000;
$resbuttoneven: #ffffff;
$resbuttonevenhover: $secondary;

//misc
$filter:  grayscale(100%);
