<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="css/screen.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="layout">
        <a href="index.html"><img src="images/webLogo.png" alt="LBRN Logo"></a>
        <h1>Louisiana&nbsp;Biomedical Research&nbsp;Network</h1>
        <a href="#"><img id="navBug" src="images/menuClosed.png" alt="Menu Bug"></a>
      </div>
    </header>
    <nav>
      <ul class="layout">
        <li><a href="about.html">About</a></li>
        <li><a href="people.html">People</a></li>
        <li><a href="research.html">Research</a></li>
        <li><a href="resources.html">Resources</a></li>
        <li><a href="lbrn-events.html">Events</a></li>
        <li class="right">
            <a class="button" href="newsletter.html">Newsletter</a>
        </li>
        <li class="right">
            <a target="_blank" href="https://www.facebook.com/LouisianaBiomedicalResearchNetwork"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="https://twitter.com/lbrn_inbre"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="https://www.youtube.com/user/LBRNINBRE/videos"><i class="fa fa-youtube-square"></i></a>
        </li>
      </ul>
    </nav>
    <section class="page-heading layout">
      <h1>{{page.title}}</h1>
    </section>
    <main class="layout">
      <div class="content">
        {{content}}
      </div>
    </main>
    <footer>
      <div class="layout">
        <p>
          copyright <a href="http://lbrn.lsu.edu:8080/lbrn/Login.jsp">&copy;</a> LBRN 2017<br>
          <a href="http://www.lsu.edu/feedback" class="bold">Provide Website Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="http://www.lsu.edu/accessibility" class="bold">Accessibility Statement</a>
        </p>
        <p>Support from the National Institute of Health through the National institute of General Medical Science Grants
          <span>5&nbsp;P2O&nbsp;GM103424-15</span> and <span>3&nbsp;P2O&nbsp;GM103424-1551</span> are gratefully acknowledged.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/scrollMenu.js"></script>
    {% include google-analytics.html %}
  </body>
</html>
