<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="webdev.lbrn.lsu.edu/css/screen.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    {% include dropdown.html %}

    <section class="page-heading layout">
      <h1>{{page.title}}</h1>
    </section>
    <main class="layout">
      <div class="content">
        {{content}}
      </div>
    </main>
    <footer>
      <div class="layout">
        <p>copyright &copy; LBRN {{ 'now' | date: "%Y" }}</p>
        <p>Support from the National Institute of Health through the National institute of General Medical Science Grant
          <span>5&nbsp;P2O&nbsp;GM103424-18</span> is gratefully acknowledged.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="webdev.lbrn.lsu.edu/js/scripts.js"></script>
    {% include google-analytics.html %}
  </body>
</html>
