<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <link rel="stylesheet" href="css/screen.css{% include style.html %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

  <body>

    {% include dropdown.html %}


    <main class="layout">
      <section id="lbrnEventHeader">
        <div class="imagebox">
          <a href="{{page.headerDocument}}" target="_blank" ><img src="{{page.headerImage}}" alt="{{page.title}}"></a>

        </div>
        <div class="caption">
          <h1>{{page.title}}</h1>
          <p id="date">Event Date: {{page.eventDate}}</p>
          <p id="date">Deadline: {{page.eventDeadlines}}</p>
          <p>Location: {{page.eventLocation}}</p>
          <a class="button" href="#eventRegistration">Registration Information</a>
        </div>
      </section>
      <div class="content">
        {{content}}
      </div>
    </main>
    {% include footer.html %}
    {% include scriptfooter.html %}
    {% include google-analytics.html %}
  </body>
</html>
