<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}} {{page.author}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/screen.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    {% include dropdown.html %}



    <main class="layout">
      <section id="lbrnEventHeader">
        <div class="imagebox">
          <img src="{{page.headerImage}}" alt="{{page.title}}">

        </div>
        <div class="caption">
          <h1>{{page.title}}</h1>
          <p id="date">Event Date: {{page.eventDate}}</p>
          <p>Location: {{page.eventLocation}}</p>
        </div>
      </section>
      <div class="content">
        {{content}}
      </div>
    </main>
    <footer>
      <div class="layout">
        <p>
          copyright &copy; LBRN {{ 'now' | date: "%Y" }}<br>
          <a href="https://www.lsu.edu/feedback" class="bold">Provide Website Feedback</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="https://www.lsu.edu/accessibility" class="bold">Accessibility Statement</a>
        </p>
        <p>Support from the National Institute of Health through the National institute of General Medical Science Grant
          <span>5&nbsp;P2O&nbsp;GM103424-18</span> is gratefully acknowledged.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <script type="text/javascript" src="/js/scrollMenu.js"></script>
    <!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% include google-analytics.html %}
  </body>
</html>
