<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/screen.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <div class="layout">
        <a href="{{site.baseurl}}/index.html"><img src="{{site.baseurl}}/images/webLogo.png" alt="LBRN Logo"></a>
        <h1>Louisiana&nbsp;Biomedical Research&nbsp;Network</h1>
        <a href="#"><img id="navBug" src="{{site.baseurl}}/images/menuClosed.png" alt="Menu Bug"></a>
      </div>
    </header>
    <nav>
      <ul class="layout">
        <li><a href="/about.html">About</a></li>
        <li><a href="/people.html">People</a></li>
        <li><a href="/research.html">Research</a></li>
        <li><a href="/resources.html">Resources</a></li>
        <li><a href="/lbrn-events.html">Events</a></li>
        <li class="right">
            <button><a href="#">Newsletter</a></button>
        </li>
        <li class="right">
            <a target="_blank" href="www.facebook.com/LouisianaBiomedicalResearchNetwork"><i class="fa fa-facebook"></i></a>
            <a target="_blank" href="twitter.com/lbrn_inbre"><i class="fa fa-twitter"></i></a>
            <a target="_blank" href="www.youtube.com/user/LBRNINBRE/videos"><i class="fa fa-youtube-square"></i></a>
        </li>
      </ul>
    </nav>
    <main class="layout">
      <section id="lbrnEventHeader">
        {% if page.featuredImageUrl %}
        <div class="imagebox">
          <!-- DYNAMIC:this image will have to be inserted into the src attribute. I used the Page title for the alt attribute -->
          <img src="{{site.baseurl}}/{{page.featuredImageUrl}}" alt="{{page.title}}">
        </div>
        <div class="caption">
          <!-- this h1 should contain the blog post title -->
          <h1 class="post">{{page.title}}</h1>
          <!-- this is p is the post-date of the news item -->
          <p>{{page.date | date:" %B, %-d %Y"}}</p>
        </div>
        {% else %}
          <h1>{{page.title}}</h1>
        {% endif %}
      </section>
      <!-- ALL USER INPUT CONTENT SHOULD BE CONTAINED WITHIN CONTENTS -->
      <div class="content">
        {{content}}
      </div>
    </main>
    <footer>
      <div class="layout">
        <p>copyright <a href="http://webdev.lbrn.lsu.edu:8080/lbrn/Login.jsp">&copy;</a> LBRN 2017</p>
        <p>Support from the National Institute of Health through the National institute of General Medical Science Grants
          <span>5&nbsp;P2O&nbsp;GM103424-15</span> and <span>3&nbsp;P2O&nbsp;GM103424-1551</span> are gratefully acknowledged.</p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    {% include google-analytics.html %}
  </body>
</html>
